// footer {
//     height: 70px !important;
// }

.container {
background: transparent;
}

// .row  {
//     width: 400px;
// }


footer {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    height: 415;
    width: 100vw;
    // height: 2.5rem;  
    background: linear-gradient(#F0F2F0,#000C40 ); 
    /* Footer height */
  }

  // footer.page-footer.font-small.mdb-color.pt-4.bg-dark.navbar-dark {
//   background: linear-gradient(#F0F2F0,#000C40 );
// }
