nav {
  height: 70px;
  background: linear-gradient(#000C40, #F0F2F0);
  ul {
    // background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-profile-info {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 0px;
    list-style: none;

    li {
      margin: 10px;
      
      color: rgba(255, 255, 255, 0.5);
    }
  }

}


// nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
//   background: linear-gradient(#000C40, #F0F2F0);
// }

