nav {
  height: 70px;
  background: linear-gradient(#000C40, #F0F2F0);
  ul {
    // background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
}


// nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
//   background: linear-gradient(#000C40, #F0F2F0);
// }

