

<!-- Section: Blog v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5" style="font-size: 100px;">About Us <p style="font-size: 20px;">Let us tell you more about our company.</p></h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5"></p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <a href="#!" class="green-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>Our mission</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>We build educators into entrepreneurs</strong></h3>
      <!-- Excerpt -->
      <p>Rails Coding Tutor was established in 2009 to provide coding support for all students including Adults returning to learning, to enhance their chances of employability, workplace and employment success. While coding skills are clearly in high demand and seem to assume 

      One size does not fit all and many learners will find that the courses that they choose have a much higher demand on their live solving skills and well-written codes than they expected. When the formal classroom door closes and the learner heads for home, learning does not stop, but often it is the apparently “average” student who progresses no further, achieves little more as they hit “The Wall”, a glass ceiling that limits their future achievement. 

      As teachers, just as much as students, we need a supportive environment beyond the limits of formal schooling to encourage both independence and inter-dependence, while becoming more self-reliant.</p>
    
      <!-- Read more button -->
      <a class="btn btn-success btn-md bg-info text white" style="margin: 10px;" href="<%= index_path %>">Find a tutor now</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-image pr-2"></i>Our team</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Tutoring for the modern age</strong></h3>
      <!-- Excerpt -->
      <p>A casual perception of the academic tutoring industry is that it’s comprised of prototypical mom and pop endeavors. If your child needs help in school or is preparing for the SATs, you ask friends and family for referrals or do a quick search online. What teachers get with this new product, specifically, is support in building their business from the ground up, including website creation and branding, building a presence on review sites, marketing the business (including through search engine optimization), and a kind of bootcamp for managing a business that covers things like setting rates and managing clients.</p>
      <!-- Post data -->
      <!-- Read more button -->
       <a class="btn btn-success btn-md bg-info text white" style="margin: 10px;" href="<%= index_path %>">Search for a tutor now</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <a href="#!" class="indigo-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-suitcase pr-2"></i>More about us</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>The story behind</strong></h3>
      <!-- Excerpt -->
      <p>Today the company is announcing a bit of a shift, moving away from simply selling access to its business software for a monthly subscription fee to now helping tutors set up their very own storefronts, replete with websites, certifications, marketing materials and even clients.
      Called its “business in a box” product, it’s an interesting twist and part of a broader wave of startups that are capitalizing on the growing number of people who are self-employed, or who want to be, or who simply want to supplement their income with a “side hustle.” Bird’s recent decision to partner with local entrepreneurs in other parts of the world who will manage their own fleets of its electric scooters (and pay Bird a cut of their revenue), is another recent example.</p>
     
      <!-- Read more button -->
       <a class="btn btn-success btn-md bg-info text white" style="margin: 10px;" href="<%= index_path %>">Go to our home page</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.1 -->






<div>
     <h1 class="font-weight-bold mb-3" style="padding: 10px;">We're always here to help</h1>
      <!-- Excerpt -->
      <p style="padding: 10px;">Rails Coding Tutor was established in 2009 to provide coding support for all students including Adults returning to learning, to enhance their chances of employability, workplace and employment success. While coding skills are clearly in high demand and seem to assume 

      One size does not fit all and many learners will find that the courses that they choose have a much higher demand on their live solving skills and well-written codes than they expected. When the formal classroom door closes and the learner heads for home, learning does not stop, but often it is the apparently “average” student who progresses no further, achieves little more as they hit “The Wall”, a glass ceiling that limits their future achievement. 

      As teachers, just as much as students, we need a supportive environment beyond the limits of formal schooling to encourage both independence and inter-dependence, while becoming more self-reliant. </p>
      <br>
      
</div>
