<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <%= render "shared/navbar" %>
</head>
<body>
<div>
     <h1 class="font-weight-bold mb-3" style="padding: 10px; font-size: 100px;">About page</h1>
      <br>
      <!-- Excerpt -->
      <p style="padding: 10px;">Rails Coding Tutor was established in 2009 to provide coding support for all students including Adults returning to learning, to enhance their chances of employability, workplace and employment success. While coding skills are clearly in high demand and seem to assume 

      One size does not fit all and many learners will find that the courses that they choose have a much higher demand on their live solving skills and well-written codes than they expected. When the formal classroom door closes and the learner heads for home, learning does not stop, but often it is the apparently “average” student who progresses no further, achieves little more as they hit “The Wall”, a glass ceiling that limits their future achievement. 

      As teachers, just as much as students, we need a supportive environment beyond the limits of formal schooling to encourage both independence and inter-dependence, while becoming more self-reliant. </p>
      <br>
      <a class="btn btn-success btn-md bg-info text white" style="margin: 10px;" href="<%= index_path %>">Find a tutor now</a>
      </div>
</body>
</html>