<h1>Hello World</h1>


<h1>SEARCH PAGE</h1>


<div class="d-flex flex-wrap">
  <% @profiles.each do |tutor| %>
    <div class="card m-2" style="width: 21.5rem;">
      <div class="card-body">
        <h5 class="card-title"><%= tutor.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= tutor.skills %></h6>
        <p class="card-text">  </p>
   
            <i class="fas fa-book"></i>
        </a>
      </div>
    </div>
    <% end %>
  </div>


  <p><%= link_to "Create new profile", new_profile_path %></p>
  <p><%= link_to "Create new Booking with a tutor", booking_path %></p>


