<h1>My Students</h1>
<% @my_students.each do |student|%>
  <p><%= student.profile.first_name %> <%= student.profile.surname %></p>
  <%= link_to 'View Profile', profile_path(student.profile.id) %>
<% end %>