<div>
  <h3>Looks like you haven't created your profile yet</h2>
  <p>Please fill out your details below: </p>
<form class="form-style" action="<%= new_profile_path %>" method="POST" enctype="multipart/form-data">


  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

  <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
          <strong>Edit your profile</strong>
      </h5>
  <div class="card-body px-lg-5 pt-0">

  <form class="text-center" style="color: #757575;">

   <!-- Become a tutor option -->
    <div class="md-form">
      <label for="tutor?">Would you like to create a tutor profile?</label>
      <input type="checkbox" name="tutor?" value="true"> Yes
    </div>

    <!-- FirstName -->
    <div class="md-form mt-3">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" name="first_name" />
    </div>

     <!-- Surname -->
    <div class="md-form">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" name="first_name" />
    </div>

    <!--Skills -->
    <div class="md-form">
      <label for="skills">Skills</label>
      <input type="textarea" class="form-control" name="skills" /> 
    </div>

     <!-- Bio -->    
    <div class="md-form">
      <label for="bio">Bio</label>
      <input type="textarea" class="form-control" name="bio" />
    </div>

     <!-- Hourly Rate -->    
    <div class="md-form">
      <label for="hourly_rate">Hourly Rate</label>
      <input type="text" class="form-control" name="hourly_rate" />
    </div>

     <!-- Avatar -->    
    <div class="md-form">
      <label for="avatar">Avatar</label>
      <input type="file" class="form-control" name="avatar">
    </div>
    <br>
    <p style="margin-left: 400px;">You can always edit your profile later.</p>
<!-- Send button -->
    <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit" value="Create">Create</button>
  </form>
  
  <%= link_to 'Back', :back %>
</form>
</div>


