<h1>New Profile</h1>
<p>New (new profile form - after signing up / confirmation)</p>
<form class="form-style" action="<%= new_profile_path %>" method="POST" enctype="multipart/form-data">

  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" />

  <label for="name">Surname</label>
  <input type="text" name="surname" />

  <label for="skills">Skills</label>
  <input type="textarea" name="skills" />

  <label for="bio">Bio</label>
  <input type="textarea" name="bio" />

  <label for="hourly_rate">Hourly Rate</label>
  <input type="text" name="hourly_rate">

  <label for="avatar">Avatar</label>
  <input type="file" name="avatar">

  <input type="submit" id="submit" value="Create" />
</form>



