<h1>New Booking with <%= @tutor_first_name %></h1>

<form class="form-style" action="<%= new_booking_path %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="tutor_id" value="<%= @tutor_id %>">

  <label for="date">Date</label>
  <input type="date" name="date" />

  <label for="location">Location</label>
  <input type="textarea" name="location" />

  <label for="price">Price</label>
  <input type="textarea" name="price" />

  <label for="duration">Duration</label>
  <input type="text" name="duration">

  <input type="submit" id="submit" value="Create" />
</form>

