

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">LOGO</a>
    <!-- Links -->
    <ul class="navbar-nav">
      
      <li>
        <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </button>
      </li>
      <li>
        <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
          <a class="nav-link" href="#">About</a>
        </button>
      </li>
      <li>
        <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
          <a class="nav-link" href="#">Become a tutor</a>
      </button>   
      </li>


      

  <!-- Links -->
  <ul class="navbar-nav">
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="<%= about_path %>">About</a>
      </button> 
    </li>
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="<%= bookings_path %>">Bookings</a>
    </button>   
    </li>
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin-left: 10px;">
        <a class="nav-link" href="#">Become a tutor</a>
    </button>   
    </li>
  
    

  
  
    <!-- Dropdown -->
    <form class="form-inline">
     <button class="btn btn-outline-primary" type="button" style="margin-left: 380px;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Account Settings
        </a>
        <div class="dropdown-menu">
