<div class="jumbotron" id="main-jumbotron">
  <h2 class="jumbotron-title">Coding Tutor</h2>
  <div class="jumbotron-content">
      <h4>Learn programming with one of our tutors. Your tutor will teach you everything he or she knows and will help you to achieve your goal.</h4>
      <a class="btn btn-primary btn-lg" href="#" role="button">Find a tutor now</a>
  </div>
  <hr>
</div>

<div class="jumbotron-2">
  <h2 class="display-4">About</h2>
  <div class="content-2">
  <hr class="my-4">
  <p class="lead">When it comes to Coding, we’re the experts. Our talented team of tutors are experienced teachers or top coding achievers, highly knowledgeable in all coding languages and experienced in teaching online.

Each member of our team has passed the rigorous Coding selection criteria and a Working With Children Check (WWCC), and Rails coding tutors have a proven track record of helping students achieve their learning goals.</p>
</div>
 
</div>
 <a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Learn more</a>
  

<div class="jumbotron-3">
  <h2 class="display-4">How it works</h2>
  <div class="content-3">
  <p class="lead">Based on your goal, your mentor will provide you with an individualized study plan based on your schedule and prior experience.</p>
  <hr class="my-4">
  
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
      
</div>



<div class="jumbotron-4">
  <h2 class="display-4">Contact us</h2>
  <p class="lead"><span> Feel free to contact us via email or phone and our crew will contact you shortly.</span> <span><small class="form-text text-muted mb-4">If you’re ready to get started, enrol online today and get 50% off your first session.<small></span><span><small class="form-text text-muted mb-4">Click on  <a href="<%= new_user_registration_path %>">Sign up</a> to register a free account and get your coding skills improved! Have any questions?<small></span></p>
  <hr class="my-4">
</div>

<%= render 'shared/footer' %>
