<div class="home-page">

  <div class="home section ">
    <h2 class="section-title">Coding Tutor</h2>
    <div class="section-content">
        <h4>Supporting the next generation of Australian developers through facilitating amazing mentor relationships</h4>
        <hr>
        <a class="btn btn-primary btn-lg" href="<%= index_path %>" role="button">Find a Tutor Now</a>
    </div>
  </div>

  <div class="about section">
    <div class="section-content">
      <h4>The best place to find amazing Australian software engineering mentors</h4>
      <hr>
      <a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Learn more</a>
    </div>
    <h2 class="section-title">About</h2>

  </div>

  <div class="how-it-works section">
    <h2 class="section-title">How it works</h2>
    <div class="section-content">
      <h4>Based on your goal, your mentor will provide you with an individualized study plan based on your schedule and prior experience.</h4>
      <hr>
      <a class="btn btn-primary btn-lg" href="#" role="button">Tutorials</a>
    </div>        
  </div>



  <div class="contact-us section">
    <div class="section-content">
      <h4>Email us: codingtutor@gmail.com</h4>
      <hr>
      <h4>Want to contribute? Check out our  <a href="https://github.com/JoshTeperman/rails_coding_tutor/">GitHub</a></h4>
      <hr>
      <h4><a href="<%= new_user_registration_path %>">Sign up</a> to register a free account.</h4>
    </div>   
    <h2 class="section-title">Contact Us</h2>

  </div>

</div>
