/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
 *= require font-awesome
 */
 
 // Custom bootstrap variables must be set or imported *before* bootstrap.

// StyleSheets --->
@import "profiles.scss";
@import "users.scss";
@import "pages.scss";
@import "bookings.scss";
@import "user_bookings.scss";


// Gems ---> 
@import "bootstrap";
@import "font-awesome";


  * {
    margin: 0px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}
  
  .container {
    width: 100%;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



.bg-dark {
  background-color: !important;
  background: linear-gradient(#000C40, #F0F2F0);
  // border: solid black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.3);
}



.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.show_profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

// <!-- image of profile in profile show page-->
.image {
  height: 20vh;
  width: 13vw;
  border-radius: 50%;
}


.image_size {
  height: 10vh;
  width: 7vw;
  border-radius: 50%;
}



.btn:hover
{
     -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.jumbotron.p-0 {
  width: 100vw;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100vw;
  opacity:0.28;
}