<h1>Edit (edit review)</h1>
<p>(EDIT FORM)</p>

<form class="form-style" action="<%= new_review_path(@review) %>" method="POST" enctype="multipart/form-data">
<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="_method" value="patch"/>
  <label for="content">Content</label>
  <input type="text" name="content" />

  <label for="rating">Rating</label>
  <input type="text" name="rating" />

  <input type="submit" value="Update" />
</form>

<%= link_to "Delete", review_path(current_user.reviews), method: :delete, data: { confirm: 'Are you sure?' } %>
<p><%= link_to "Go back to home", home_path %></p>
